<div class="container">
  <div class="hero-unit">
    <h2>Hello my name is {{firstName}}, {{lastName}}</h2>
    <p>
      this is just a basic site...
    </p>
    <a href="#" {{action showMessage}} class="btn btn-primary btn-large">{{buttonText}}</a>
    <p>
    <br>
    <i class="icon-flag icon-4x pull-left icon-border"></i><br>
    <p><i class="icon-camera-retro icon-4x"></i> icon-camera-retro</p>
    <br>
    <i class="icon-spinner icon-large icon-spin"></i>
  </div>
</div> <!-- /container -->
