<div class="container">
  <div class="hero-unit">
    <h2>Hello Fayi from ember</h2>
    <p>This is a template for a simple marketing or informational website.It includes a large 
    callout called the hero unit and three supporting pieces of content.Use it as a starting
    point to create something more unique.
    </p>
    <p>
    <br>
    <i class="icon-flag icon-4x pull-left icon-border"></i><br>
    <p><i class="icon-camera-retro icon-4x"></i> icon-camera-retro</p>
    <br>
    <i class="icon-spinner icon-large icon-spin"></i>
  </div>
</div> <!-- /container -->
