Add Entry: {{view Ember.TextField valueBinding="newEntry" action="addEntry"}}
<a href="#" {{action clearList}} class="btn btn-danger btn-small">Clear List</a>
<br />
{{#unless controller.hasContent}}
  <i class="icon-spinner icon-large icon-spin"></i>
{{else}}
  {{partial entriesList}}
{{/unless}}
